$icon-font-path: "../bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
// endbower

@import "sass/_variables.scss";
@import "sass/_mixins.scss";


.logo img {
  margin: $center;
  padding: $logoPadding;
  display: block;
}

nav {
  background-color: $menuBackground;
  border-bottom: 3px solid $menuBorder;
  margin: 0;
  padding: 0;
  ul {
    margin: $center;
    padding: 0;
    text-align: center;
    li {
      display: inline-block;
      position: relative;
      padding: 3px;
      a {
        display: block;
        padding: 17px 32px 14px 32px;
        font: $menuTypo;
        font-stretch: ultra-condensed;
        color: $white;
        text-transform: uppercase;
        &:hover {
          background-color: $whiteShadow;
          color: $white;
          text-decoration: none;
        }
      }
      &.active:before {
        @include triangle(down, 11px, $menuBorder);
        position: absolute;
        content: "";
        top: 62px;
        left: 41%;
      }
      &.active:after {
        @include triangle(down, 9px, $menuBackground);
        position: absolute;
        content: "";
        top: 59px;
        left: 43%;
      }
    }
  }
}

.container {
  margin-top: 50px;
  color: $lightgrey;
  .img img {
    width: $fullpage;
  }
  h2 {
    font: $menuTypo;
    font-size: 24px;
  }
  label {
    width: 100%;
  }
  .info {
    border-top: $infoBorder;
    border-bottom: $infoBorder;
    padding: 10px 0;
    margin-bottom: 15px;
    overflow: hidden;
    font-size: 12px;
    .left {
      float: left;
      .time, .author {
        padding-left: 20px;
        padding-right: 20px;
        position: relative;
      }
      .time:before, .author:before {
        height: $iconSizeH;
        width: $iconSizeW;
        content: "";
        position: absolute;
        left: 4px;
      }
      .time:before {
        background-image: url('../images/sprite/time.png');
      }
      .author:before {
        background-image: url('../images/sprite/trace.png');
      }
    }
    .right {
      float: right;
      .social {
      margin: 0;
      padding: 0;
        height: 25px;
      li {
        display: inline-block;
        width: 50px;
        height: 25px;
        &.facebook {
          background: url("../images/sprite/social.png") -4px -1px no-repeat ;

        }
        &.google {
          background: url("../images/sprite/social.png") -58px -1px no-repeat ;
          width: 42px;
        }
        &.twitter {
          background: url("../images/sprite/social.png") -105px -1px no-repeat ;

        }
        &.vk {
          background: url("../images/sprite/social.png") -160px -1px no-repeat ;

        }
        &.ya {
          background: url("../images/sprite/social.png") -215px -1px no-repeat ;

        }
      }
    }
    }

  }
  aside {
    h3 {
      margin-top: 0;
      border-bottom: 5px solid $blue;
      padding-left: 35px;
      &:before {
        content: "";
        height: 30px;
        width: 30px;
        background-color: $blue;
        position: absolute;
        left: 15px;
        color: $white;
        text-align: center;
        padding-top: 5px;
      }
    }
    & .qu h3:before {
      content: "?";
    }
    & .an h3:before {
      content: "!";
    }
  }
}
