<article>
    <div class="img">
        <img ng-src={{text.img}}>
    </div>
    <h2>
        <a href="#/article/{{text._id}}">{{text.title}}</a>
    </h2>
    <div class="info">
        <div class="left">
            <span class="time">{{text.date | date:'yyyy-MM-dd HH:mm'}}</span>
            <span class="author">{{text.author}}</span>
        </div>
        <div class="right">
            <ul class="social col-md-12 col-sm-1 col-xs-12">
                <li class="facebook"></li>
                <li class="google"></li>
                <li class="twitter"></li>
                <li class="vk"></li>
                <li class="ya"></li>
            </ul>
        </div>
    </div>
    <div class="content">
        <p>{{text.body}}</p>
    </div>
    <div>
        <button class="btn btn-info" ng-click="editPost(text)">Edit</button>
        <button class="btn btn-danger" ng-click="deletePost(text)">Delete</button>
    </div>
</article>