nav {
  ul {
    li {
      &.active:before {
        @include triangle(down, 11px, $navBorderBackground);
        top: $navTriangleTop + 3px;
        left: $navTriangleLeft - 2%;
      }
      &.active:after {
        @include triangle(down, 9px, $navBackground);
        top: $navTriangleTop;
        left: $navTriangleLeft;
      }
    }
  }
}

.tags {
  .tag {
    background-color: $asideTagBg;
    color: $white;
    &:hover {
      text-decoration: none;
      background-color: $lightblue;
      &:after {
        @include triangle(right, $asideTagTriangle, $lightblue);
      }
    }
    &:before {
      @include circle($asideTagCircleW, $asideTagCircleC);
    }
    &:after {
      @include triangle(right, $asideTagTriangle, $asideTagBg);
    }
  }
}

.time:before {
  background-image: url('../images/sprite/time.png');
}

.author:before {
  background-image: url('../images/sprite/trace.png');
}

.social {
  li {
    &.facebook {
      background: -4px -1px no-repeat;
    }
    &.google {
      background: -58px -1px no-repeat;
      width: $socialWidth - 8px;
    }
    &.twitter {
      background: -105px -1px no-repeat;
    }
    &.vk {
      background: -160px -1px no-repeat;
    }
    &.ya {
      background: -215px -1px no-repeat;
      width: $socialWidth - 8px;
    }
    &.facebook,
    &.google,
    &.twitter,
    &.vk,
    &.ya {
      @include breakpoint($brkpt_small) {
        background-image: url("../images/sprite/social-active.png") ;
      }
      @include breakpoint($brkpt_large) {
        background-image: url("../images/sprite/social.png") ;
      }
    }
    &:hover {
      background-image: url("../images/sprite/social-active.png");
      cursor: pointer;
    }
  }
}