.active:before {
  @include triangle(down, 11px, $navBorderBackground);
  top: $navTriangleTop + 3px;
  left: $navTriangleLeft - 2%;
}

.active:after {
  @include triangle(down, 9px, $navBackground);
  top: $navTriangleTop;
  left: $navTriangleLeft;
}

.qu,
.an,
.tags {
  @include respond-to(handhelds) {
    background-color: rgba($lightblue, 0.6);
  }
}

.tags {
  .tag {
    background-color: $asideTagBg;
    &:hover {
      text-decoration: none;
      background-color: $lightblue;
      &:after {
        @include triangle(right, $asideTagTriangle, $lightblue);
      }
    }
    &:before {
      @include circle($asideTagCircleW, $asideTagCircleC);
    }
    &:after {
      @include triangle(right, $asideTagTriangle, $asideTagBg);
    }
  }
}

.time:before {
  background-image: url('../images/sprite/time.png');
}

.author:before {
  background-image: url('../images/sprite/trace.png');
}

.social {
  li {
    &.facebook {
      @include get-sprite($img, facebook);
      &:hover {
        @include get-sprite($img, facebook-active);
      }
      @include respond-to(medium-screens) {
        @include get-sprite($img, facebook-active);
      }
      @include respond-to(handhelds) {
        @include get-sprite($img, facebook-active);
      }
    }
    &.google {
      @include get-sprite($img, google);
      &:hover {
        @include get-sprite($img, googlel-active);
      }
      @include respond-to(medium-screens) {
        @include get-sprite($img, googlel-active);
      }
      @include respond-to(handhelds) {
        @include get-sprite($img, googlel-active);
      }
      width: $socialWidth - 8px;
    }
    &.twitter {
      @include get-sprite($img, twitter);
      &:hover {
        @include get-sprite($img, twitter-active);
      }
      @include respond-to(medium-screens) {
        @include get-sprite($img, twitter-active);
      }
      @include respond-to(handhelds) {
        @include get-sprite($img, twitter-active);
      }
    }
    &.vk {
      @include get-sprite($img, vk);
      &:hover {
        @include get-sprite($img, vk-active);
      }
      @include respond-to(medium-screens) {
        @include get-sprite($img, vk-active);
      }
      @include respond-to(handhelds) {
        @include get-sprite($img, vk-active);
      }
    }
    &.ya {
      @include get-sprite($img, ya);
      &:hover {
        @include get-sprite($img, ya-active);
      }
      @include respond-to(medium-screens) {
        @include get-sprite($img, ya-active);
      }
      @include respond-to(handhelds) {
        @include get-sprite($img, ya-active);
      }
      width: $socialWidth - 8px;
    }
    &:hover {
      cursor: pointer;
    }
  }
}