.resetBox {
  margin: 0;
  padding: 0;
}

%aside-buttons {
  margin-top: $asideMarTop;
  padding-left: $asidePadLeft;
  padding-bottom: 5px;
  border-bottom: $asideBorder;
  &:before {
    position: absolute;
    left: $asideIconLeft;
    width: $asideIconWidth;
    height: $asideIconHeight;
    padding-top: $asideIconPad;
    color: $white;
    text-align: center;
    background-color: $blue;
    }
}

%tablet-h {
  display: none;
  @include breakpoint(max-width $breakpoint_large) {
    position: absolute;
    top: $tabletButton-top;
    left: $tabletButton-left;
    width: $tabletButton-w;
    height: $tabletButton-h;
    margin: 0;
    padding: $tabletButton-p;
    border: 0;
    background-color: rgba($lightblue, 0.5);
    transform: rotate(270deg);
  }
  @include breakpoint($breakpoint_medium) {
    display: block;
  }
  &:before {
    display: none;
    @include breakpoint($breakpoint_large) {
      display: block;
    }
  }
}