.resetBox {
  margin: 0;
  padding: 0;
}

%aside-buttons {
    padding-left: $asidePadLeft;
    margin-top: $asideMarTop;
    border-bottom: $asideBorder;
    &:before {
      background-color: $blue;
      color: $white;
      position: absolute;
      left: $asideIconLeft;
      width: $asideIconWidth;
      height: $asideIconHeight;
      padding-top: $asideIconPad;
      text-align: center;
    }
}

%tablet-h {
  @include respond-to(medium-screens) {
    position: absolute;
    border: 0;
    left: -59px;
    width: 130px;
    top: 45px;
    height: 41px;
    padding: 10px 15px 5px 5px;
    margin: 0;
    transform: rotate(270deg);
    background-color: $lightblue;
    text-transform: uppercase;
    font-size: 1.5em;
    font-weight: bold;
    color: $blue;
    text-align: center;
  }
}