header.col-md-12 {
  float: none;
  padding: 0;
  .logo {
    img {
      display: block;
      margin: $center;
      width: $logoWidth/2;
      padding: 10px;
      @include breakpoint($breakpoint_medium) {
        padding: $logoPadding;
        width: $logoWidth;
      }
    }
  }
}

.news {
  float: right;
  position: relative;
  padding: 0;
  @include breakpoint($breakpoint_medium) {
    right: auto;
  }
  @include breakpoint($breakpoint_large) {
    padding: 0 15px;
  }
  h3 {
    @extend %aside-buttons;
    }
  p,
  .tags {
    margin: 0;
    @include breakpoint($breakpoint_medium) {
      padding: 30px 40px;
      margin: inherit;
    }
    @include breakpoint($breakpoint_large) {
      padding: inherit;
    }
  }
}

.qu,
.an,
.tags {
  @include breakpoint(max-width $breakpoint_medium) {
    padding: 15px;
    display: none;
  }
  @include breakpoint($breakpoint_large) {
    p {
      margin: 0 0 10px;
    }
  }
  }

.qu {
  @include breakpoint($breakpoint_medium) {
    position: relative;
    display: none;
  }
  @include breakpoint($breakpoint_large) {
    position: static;
    display: block;
  }
    h3 {
    @extend %tablet-h;
    &:before {
      content: "?";
    }
  }
}

.an {
  @include breakpoint($breakpoint_medium) {
    position: relative;
    display: none;
  }
  @include breakpoint($breakpoint_large) {
    position: static;
    display: block;
  }
  h3 {
    @extend %tablet-h;
    left: auto;
    right: -60px;
    &:before {
      content: "!";
    }
  }
}

.tag {
  position: relative;
  margin-right: $asideTagTriangle;
  padding: $asideTagPadding;
  &:before, &:after {
    position: absolute;
    content: "";
  }
  &:before {
    right: 0px;
    top: 5px;
  }
  &:after {
    right: -$asideTagTriangle*2;
    top: 0px;
  }
}


.container {
  margin-top: 39px;
  padding: 0;
  @include breakpoint($breakpoint_medium) {
    width: $fullpage;
    margin-top: 60px;
    padding: 0 14px;
  }
  @include breakpoint($breakpoint_large) {
    margin-top: $containerMargin;
  }
  label {
    width: $fullpage;
  }
  article {
    position: relative;
    padding-bottom: 30px;
    @include breakpoint($breakpoint_medium) {
      width: $fullpage - 5%;
      margin-bottom: 50px;
      padding: 0 20px;
    }
    @include breakpoint($breakpoint_large) {
      position: static;
      width: auto;
    }
    h2 {
      margin-top: 0;
    }
    .img {
      img {
        width: $fullpage;
      }
    }
    .out {
      z-index: 0;
    }
  }
}

.info {
  margin-bottom: $infoBottomMargin;
  padding: $infoPadding;
  overflow: hidden;
  border-top: $infoBorder;
  border-bottom: $infoBorder;
  .left {
    float: left;
    .time,
    .author {
      position: relative;
      margin: $infoAuthorPadding;
    }
    .time:before,
    .author:before {
      position: absolute;
      left: $infoIconLeft;
      width: $iconSizeW;
      height: $iconSizeH;
      content: "";
    }
  }
  .right {
    float: none;
    @include breakpoint($breakpoint_large) {
      float: right;
    }
  }
}

.social {
  @extend .resetBox;
  position: absolute;
  bottom: 0;
  height: $socialHeight;
  @include breakpoint($breakpoint_medium) {
    top: 0;
    right: -70px;
  }
  @include breakpoint($breakpoint_large) {
    position: static;
  }
  li {
    width: $socialWidth;
    height: $socialHeight;
    display: inline-block;
    @include breakpoint(max-width $breakpoint_medium) {
      margin: 0 5px;
    }
  }
}