header.col-md-12 {
  float: none;
  padding: 0;
  .logo {
    img {
      display: block;
      margin: $center;
      padding: $logoPadding;
    }
  }
}

nav {
  ul {
    @extend .resetBox;
    margin: $center;
    li {
      position: relative;
      display: inline-block;
      padding: $navTabPadding;
      a {
        display: block;
        padding: $navTabLink;
      }
    }
  }
}

.container {
  margin-top: $containerMargin;
  label {
    width: $fullpage;
  }
  article {
    h2 {
      margin-top: 0;
    }
    .img {
      img {
      width: $fullpage;
      }
    }
    .out {
      z-index: 0;
    }
    .info {
      overflow: hidden;
      border-top: $infoBorder;
      border-bottom: $infoBorder;
      padding: $infoPadding;
      margin-bottom: $infoBottomMargin;
      .left {
        float: left;
        .time,
        .author {
          position: relative;
          margin: $infoAuthorPadding;
        }
        .time:before,
        .author:before {
          position: absolute;
          left: $infoIconLeft;
          width: $iconSizeW;
          height: $iconSizeH;
          content: "";
        }
      }
      .right {
        float: right;
        .social {
          @extend .resetBox;
          height: $socialHeight;
          li {
            display: inline-block;
            width: $socialWidth;
            height: $socialHeight;
          }
        }
      }
    }
  }
  aside {
    float: right;
    h3 {
      padding-left: $asidePadLeft;
      margin-top: $asideMarTop;
      border-bottom: $asideBorder;
      &:before {
        position: absolute;
        left: $asideIconLeft;
        width: $asideIconWidth;
        height: $asideIconHeight;
        padding-top: $asideIconPad;
        text-align: center;
      }
    }
    & .qu h3:before {
      content: "?";
    }
    & .an h3:before {
      content: "!";
    }
  }
}