nav {
  @extend .resetBox;
  background-color: $menuBackground;
  border-bottom: $navBorder;
  ul {
    li {
      a {
        &:hover {
          background-color: $whiteShadow;
          color: $navTypoColor;
          text-decoration: none;
        }
      }
    }
  }
}