nav {
  ul {
    li {
      a {
        font: $navTypo;
        font-stretch: ultra-condensed;
        color: $navTypoColor;
        text-transform: uppercase;
      }
    }
  }
}

aside {
    &:before {
      font-size: 24px;
    }
  }


.container {
  h2 {
    font: $navTypo;
    font-size: 24px;
  }
  .info {
    font-size: 12px;
  }
  color: $lightgrey;
}