/*main*/
$center: 0 auto;
$fullpage: 100%;
$arialNarrow: "Arial Narrow", Arial, sans-serif;

/*colors*/
$white: #fff;
$whiteShadow: rgba(255, 255, 255, 0.1);
$blue: #6b9ad0;
$lightblue: #c6defa;
$lightgrey: #69747c;

$logoPadding: 15px 0;

$navTypoColor: $white;
$navTypo: 18px $arialNarrow;
$navBackground: $blue;
$navBorderBackground: $lightblue;


$iconSizeH: 17px;
$iconSizeW: 11px;

$navBorderWidth: 3px;
$navBorder: $navBorderWidth solid $navBorderBackground;
$navTabPadding: 3px;
$navTabLink: 15px 32px;
$navTriangleTop: 57px;
$navTriangleLeft: 43%;

$containerMargin: 50px;

$infoBorder: 1px solid lightgrey;
$infoPadding: 10px 0;
$infoBottomMargin: 15px;
$infoIconLeft: -17px;
$infoAuthorPadding: auto 20px;

$socialHeight: 25px;
$socialWidth: 50px;

$asideMarTop: 0px;
$asidePadLeft: 35px;
$asideBorder: 5px solid $blue;
$asideIconHeight: 30px;
$asideIconWidth: 30px;
$asideIconLeft: 15px;
$asideIconPad: 5px;
