$center: 0 auto;

$fullpage: 100%;

$logoPadding: 15px 0;

$white: #fff;
$whiteShadow: rgba(255, 255, 255, 0.1);
$blue: #6b9ad0;
$lightblue: #c6defa;
$lightgrey: #69747c;

$menuBackground: $blue;

$menuBorder: $lightblue;

$menuTypo: 18px "Arial Narrow", Arial, sans-serif;

$infoBorder: 1px solid lightgrey;

$iconSizeH: 17px;
$iconSizeW: 11px;
